spring:
  datasource:
    url: jdbc:mysql://highvoca-db.c56kgawmkejt.ap-northeast-2.rds.amazonaws.com:3306/highvoca?serverTimezone=Asia/Seoul&characterEncoding=UTF-8

    username: admin

    password: ${DB_PASSWORD}

    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  forward-headers-strategy: native

jwt:
  secret: ${JWT_SECRET}